@mixin border-radius($radius) {
    @each $vendorPrefix in $vendorPrefixes {
        #{$vendorPrefix}-border-radius:$radius;
    }
    border-radius:$radius;
}

@mixin circle($width: 100px) {
    width: $width;
    height: $width;
    line-height: $width;
    border-radius: 50%;
    border: 2px solid $easyGrey;
    text-align: center;
    font-size: $width / 3;
    margin: 0 auto;
}
