@import abstracts/_mixins

.vMargin
  margin-top: 20px
  margin-bottom: 20px

.largePadding
    padding: 80px

.mediumPadding
    padding: 50px

.smallPadding
    padding: 25px

.lgMarginTop
    margin-top: 100px

.sideMargin
  margin-left: 20px
  margin-right: 20px

.mdMarginTop,
.pushDown
    margin-top: 50px!important

.marginTopSm
    margin-top: 25px

.paddingTopSm
    padding-top: 25px

.mdPaddingTop
    padding-top: 50px

.paddingBottomSm
    padding-bottom: 25px

.paddingBottomMd
    padding-bottom: 50px

.marginSm
  margin: 25px 0

.marginMd
  margin: 50px 0

.marginLg
  margin: 75px 0

.smVPadding
  padding-top: 25px
  padding-bottom: 25px

.mdVPadding
    padding-top: 50px
    padding-bottom: 50px

.hCentered
  text-align: center
  margin: 0 auto

.clearPadding
    padding: 0

.clearMargin
    margin: 0

.bolder
    font-weight: 900!important
    text-shadow: 0 1px 0 $easyWhite

.customLabel *
    color: #828787

.pullUp
    margin-top: -50px

.circle
  @include circle()
  &.lg
      @include circle(150px)
  &.md
      @include circle(75px)
  &.sm
      @include circle(45px)

.fancy
    line-height: 0.5
    font-size: 14px
    text-align: center
    display: inline-block
    position: relative
    color: $easyLightGrey

    &:before,
    &:after
        content: ""
        position: absolute
        height: 5px
        border-bottom: 1px solid $easyLightGrey
        top: 0
        width: 12vw

    &:before
        right: 100%
        margin-right: 15px

    &:after
        left: 100%
        margin-left: 15px

.borderLeft
  border-left: 1px solid #E5E5E5

.forgotPassword
  padding-top: 10px
  color: $easyBlue
