.largePadding
    padding: 80px

.mediumPadding
    padding: 50px

.smallPadding
    padding: 25px

.lgMarginTop
    margin-top: 100px

.mdMarginTop
    margin-top: 50px

.smMarginTop
    margin-top: 25px

.clearPadding
    padding: 0

.clearMargin
    margin: 0

.bolder
    text-weight: 600

.fancy
    line-height: 0.5
    text-align: center
    display: inline-block
    position: relative
    color: $easyLightGrey

    &:before,
    &:after
        content: ""
        position: absolute
        height: 5px
        border-bottom: 1px solid $easyLightGrey
        top: 0
        width: 180px

    &:before
        right: 100%
        margin-right: 35px

    &:after
        left: 100%
        margin-left: 35px
