.largePadding
    padding: 80px

.mediumPadding
    padding: 50px

.smallPadding
    padding: 25px

.lgMarginTop
    margin-top: 100px

.mdMarginTop
    margin-top: 50px

.smMarginTop
    margin-top: 25px
.clearPadding
    padding: 0

.bolder
    text-weight: 600

.fancy
    line-height: 0.5
    text-align: center
    display: inline-block
    position: relative

.fancy:before, .fancy:after
    content: ""
    position: absolute
    height: 5px
    border-bottom: 1px solid $easyLightGrey
    top: 0
    width: 180px

.fancy:before
    right: 100%
    margin-right: 15px

.fancy:after
    left: 100%
    margin-left: 15px