body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Open Sans', sans-serif;
  line-height: 120%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-shadow: 0 1px 2px rgba(6, 24, 63, 0.1);
  font-weight: 400; }

a,
p {
  color: #2E3941;
  font-weight: 400; }

.navbar-default .navbar-nav > li a:hover, .navbar-default .navbar-nav > li a:focus {
  color: #717f86; }

.divider {
  width: 100%;
  box-sizing: content-box;
  height: 0;
  margin: 20px 0;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-width: 1px 0 0 0; }

.navbar {
  background: #FFFFFF;
  height: 70px;
  border-bottom: solid 1px transparent;
  border-bottom-color: #E9F0F3; }
  .navbar .navLinks {
    padding-top: 5px;
    text-shadow: 0 1px 2px rgba(6, 24, 63, 0.1); }

.navbar-brand {
  font-size: 30px;
  font-weight: 600; }

.navbar-default .navbar-brand {
  color: #2E3941; }
  .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:hover {
    color: #2E3941; }

.navbar-default .navbar-nav > li a {
  color: #2E3941;
  text-decoration: none;
  text-shadow: none; }
  .navbar-default .navbar-nav > li a:hover {
    color: #010F19;
    text-decoration: none;
    text-shadow: none; }

.navbar-toggle {
  background-color: #2E3941;
  border: none; }

footer {
  background: linear-gradient(#010F19, #010F19);
  border-top: 1px solid rgba(64, 74, 82, 0.48);
  padding-top: 80px;
  padding-bottom: 50px;
  color: #F8F8F8; }
  footer h4 {
    font-size: 16px;
    color: #E7E7E7; }
  footer .quickLinksHolder {
    text-align: left;
    color: #F8F8F8;
    font-size: 13px; }
    footer .quickLinksHolder .quickLink {
      color: #d1d3d3; }
  footer .firstCol {
    padding-left: 93px; }
  footer .thirdCol {
    padding-left: 83px; }
  footer .copyright {
    color: #E7E7E7;
    font-size: 12px; }
  footer .socialIcons {
    color: #E7E7E7;
    font-size: 14px;
    font-weight: bold;
    margin-right: 20px; }

@media (max-width: 767px) {
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    background: #FFFFFF; }
  .container-fluid > .navbar-collapse,
  .container-fluid > .navbar-header,
  .container > .navbar-header {
    height: 70px; }
  .sectionText .textBox {
    padding: 5px 40px !important; }
  .verticallyCenteredContainer, #introArea, #howItWorks {
    display: inline-block !important; }
  #introArea {
    display: inline-block !important;
    text-align: center;
    width: 100%;
    height: 100% !important; }
    #introArea .intro-text {
      padding: 0 !important; }
    #introArea .introContent {
      margin: 50px 0;
      padding: 0 !important; }
  #conversionFormContainer {
    margin: 30px 0 !important;
    border-radius: 15px; }
  .transImg {
    display: none; }
  .howItWorks-item {
    margin-bottom: 50px; }
  #whyItWorks,
  #howItWorks,
  #downloadSection {
    width: 100%;
    padding: 40px !important; }
  footer {
    padding-top: 50px;
    madding-bottom: 30px; }
    footer .firstCol,
    footer .thirdCol {
      padding: 0; }
    footer .copyright {
      text-align: center; }
    footer .col-md-4 {
      margin-bottom: 50px; }
  .footer-above {
    text-align: left; }
  .getAppImg {
    margin: 15px 0; }
  .img-responsive {
    margin: 0 auto; }
  .hideOnMobile {
    display: none !important; }
  .boldTextContainer {
    margin-bottom: 40px !important; }
  .ghostForm, .blue, .white,
  .blue,
  .white {
    margin-bottom: 10px; }
  .jumboText {
    font-size: 26px; }
  .fancy:before, .fancy:after {
    width: 80px !important; }
  .fancy:after {
    margin-left: 15px !important; }
  .fancy:before {
    margin-right: 15px !important; }
  .ghostButton.invertedGreen.lg,
  .ghostButton.invertedBlue.lg {
    font-size: 18px !important;
    height: 35px !important;
    width: 190px !important; }
  h2 {
    font-size: 26px; } }

.ghostButton, .ghostButton.defaultGreen, .ghostButton.defaultBlue, .ghostButton.invertedGreen, .ghostButton.invertedBlue {
  padding: 5px 30px;
  width: 130px;
  height: 35px;
  font-weight: 200;
  text-align: center;
  align-self: center;
  text-shadow: none !important;
  background: transparent; }
  .ghostButton:active, .ghostButton:visited, .ghostButton:focus {
    outline: none; }

.ghostButton.invertedGreen.lg, .ghostButton.invertedBlue.lg {
  font-size: 22px;
  text-align: center;
  height: 40px;
  width: 200px;
  vertical-align: middle; }

.ghostButton {
  -moz-border-radius: 9999px;
  -webkit-border-radius: 9999px;
  -o-border-radius: 9999px;
  -ms-border-radius: 9999px;
  -khtml-border-radius: 9999px;
  border-radius: 9999px;
  height: 35px;
  color: #0593E7 !important;
  border: 2px solid #0593E7; }
  .ghostButton:hover {
    background: #0593E7;
    color: #FFFFFF !important; }
  .ghostButton.defaultGreen {
    -moz-border-radius: 9999px;
    -webkit-border-radius: 9999px;
    -o-border-radius: 9999px;
    -ms-border-radius: 9999px;
    -khtml-border-radius: 9999px;
    border-radius: 9999px;
    height: 35px;
    color: #03E04C !important;
    border: 2px solid #03E04C; }
    .ghostButton.defaultGreen:hover {
      background: #03E04C;
      color: #FFFFFF !important; }
  .ghostButton.defaultBlue {
    -moz-border-radius: 9999px;
    -webkit-border-radius: 9999px;
    -o-border-radius: 9999px;
    -ms-border-radius: 9999px;
    -khtml-border-radius: 9999px;
    border-radius: 9999px;
    height: 35px;
    color: #0593E7 !important;
    border: 2px solid #0593E7; }
    .ghostButton.defaultBlue:hover {
      background: #0593E7;
      color: #FFFFFF !important; }
  .ghostButton.invertedGreen {
    -moz-border-radius: 9999px;
    -webkit-border-radius: 9999px;
    -o-border-radius: 9999px;
    -ms-border-radius: 9999px;
    -khtml-border-radius: 9999px;
    border-radius: 9999px;
    height: 35px;
    color: #03E04C !important;
    border: 2px solid #03E04C;
    background: #03E04C !important;
    color: #FFFFFF !important; }
    .ghostButton.invertedGreen:hover {
      background: #03E04C;
      color: #FFFFFF !important; }
    .ghostButton.invertedGreen:hover {
      background: transparent !important;
      color: #03E04C !important; }
  .ghostButton.invertedBlue {
    -moz-border-radius: 9999px;
    -webkit-border-radius: 9999px;
    -o-border-radius: 9999px;
    -ms-border-radius: 9999px;
    -khtml-border-radius: 9999px;
    border-radius: 9999px;
    height: 35px;
    color: #0593E7 !important;
    border: 2px solid #0593E7;
    background: #0593E7 !important;
    color: #FFFFFF !important; }
    .ghostButton.invertedBlue:hover {
      background: #0593E7;
      color: #FFFFFF !important; }
    .ghostButton.invertedBlue:hover {
      background: transparent !important;
      color: #0593E7 !important; }

.buttonHolder {
  height: 60px;
  display: flex;
  justify-content: center; }

.paddedBtn {
  height: 43px !important;
  margin-left: 10px; }

.ghostForm, .blue, .white {
  width: 100%;
  background: transparent;
  border-radius: 9999px; }

.blue {
  border: 2px solid #0593E7; }

.white {
  border: 2px solid #FFFFFF; }

.largePadding, #howItWorks, #whyItWorks, #downloadSection {
  padding: 80px; }

.mediumPadding {
  padding: 50px; }

.smallPadding {
  padding: 25px; }

.lgMarginTop {
  margin-top: 100px; }

.mdMarginTop {
  margin-top: 50px; }

.smMarginTop {
  margin-top: 25px; }

.clearPadding {
  padding: 0; }

.clearMargin {
  margin: 0; }

.bolder {
  text-weight: 600; }

.fancy {
  line-height: 0.5;
  text-align: center;
  display: inline-block;
  position: relative;
  color: #B7C1C5; }
  .fancy:before, .fancy:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid #B7C1C5;
    top: 0;
    width: 180px; }
  .fancy:before {
    right: 100%;
    margin-right: 35px; }
  .fancy:after {
    left: 100%;
    margin-left: 35px; }

.largePadding, #howItWorks, #whyItWorks, #downloadSection {
  padding: 80px; }

.mediumPadding {
  padding: 50px; }

.smallPadding {
  padding: 25px; }

.lgMarginTop {
  margin-top: 100px; }

.mdMarginTop {
  margin-top: 50px; }

.smMarginTop {
  margin-top: 25px; }

.clearPadding {
  padding: 0; }

.clearMargin {
  margin: 0; }

.bolder {
  text-weight: 600; }

.fancy {
  line-height: 0.5;
  text-align: center;
  display: inline-block;
  position: relative;
  color: #B7C1C5; }
  .fancy:before, .fancy:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid #B7C1C5;
    top: 0;
    width: 180px; }
  .fancy:before {
    right: 100%;
    margin-right: 35px; }
  .fancy:after {
    left: 100%;
    margin-left: 35px; }

body {
  background: #EEEEEE; }

.verticallyCenteredContainer, #introArea, #howItWorks {
  display: flex; }

.verticallyCenteredContent, #introContents {
  align-self: center; }

#introArea {
  background: linear-gradient(#052d45, rgba(0, 0, 0, 0.75)), url("../images/heroimg.jpeg");
  height: 600px;
  margin-top: 60px;
  color: #FFFFFF;
  text-shadow: 0 2px 3px rgba(255, 255, 255, 0.25); }
  #introArea .introContent {
    width: 100%; }
  #introArea .intro-text {
    padding-left: 150px; }

#conversionFormContainer {
  background: #FFFFFF;
  margin-left: 50px;
  height: 400px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  position: relative;
  padding: 20px 30px;
  opacity: 0.9;
  color: #B7C1C5;
  font-size: 18px;
  box-shadow: 0 2px 0 rgba(255, 255, 255, 0.15); }
  #conversionFormContainer .shortForm {
    width: 100px; }
  #conversionFormContainer #conversionForm input[type="text"] {
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #B7C1C5; }

.jumboText {
  font-weight: 600;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.25); }

.lightTitle {
  font-weight: 100; }

#howItWorks {
  background: #0593E7;
  color: #FFFFFF;
  padding: 55px; }

#whyItWorks {
  color: #010F19;
  font-weight: 600;
  background-color: #f6f9fa;
  border-top: solid 1px #e9f0f3;
  border-bottom: solid 1px #e9f0f3; }

#downloadSection {
  background: url("../images/footerbg.jpg") no-repeat center center #084163;
  background-size: cover;
  color: #FFFFFF; }
  #downloadSection h2 {
    font-weight: 100; }

.getAppImg img {
  max-width: 180px; }

.imgHolder {
  max-width: 110px;
  width: 100%;
  text-align: center;
  margin: 0 auto; }

.boldTextContainer {
  margin-bottom: 75px; }

.responsive_img {
  width: 100%; }

.transImg {
  margin-top: 80px; }

.whyItWorks-item {
  text-align: center;
  margin-bottom: 70px;
  height: 220px; }

.sectionImage {
  margin: 0 auto;
  width: 130px;
  height: 130px; }

.sectionText h4 {
  font-weight: 700;
  color: #03111a; }

.sectionText .textBox {
  font-weight: 500;
  padding: 5px 80px;
  color: #494B4C; }
