<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Easy Waya Home</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700|Open+Sans|Lato|Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/base.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="sidePadding">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">EasyWaya</a>
            </div>
            <div class="collapse navbar-collapse navLinks" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="/"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="">How it works</a>
                    </li>
                    <li class="page-scroll">
                        <a href="send.html">Send</a>
                    </li>
                    <li class="page-scroll">
                        <a href="buy.html">Buy</a>
                    </li>
                    <li class="page-scroll">
                        <div class="buttonHolder">
                            <a href="/" class="ghostButton defaultGreen">Sign in</a>
                        </div>
                    </li>
                    <li class="hideOnMobile">
                        <a href="#"></a>
                    </li>
                    <li class="page-scroll">
                        <div class="buttonHolder">
                            <a href="/" class="ghostButton invertedGreen">Sign up</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Intro banner Section -->

    <section>
        <div class="headerSpace">
        </div>
    </section>


    <div id="wrapper">
      <div id="sidebar-wrapper">
        <nav id="spy">
          <ul class="sidebar-nav nav">
            <li>
              <a href="send.html" data-scroll>
                <span><i class="material-icons">send</i>Send</span>
              </a>
            </li>
            <li>
              <a href="buy.html" data-scroll>
                <span><i class="material-icons">payment</i>Buy</span>
              </a>
            </li>
            <li>
              <a href="confirmation.html" data-scroll>
                <span><i class="material-icons">transfer_within_a_station</i>Transfer</span>
              </a>
          </li>
            <li class="activeLink">
              <a href="paymentinfo.html" data-scroll>
                <span><i class="material-icons">people</i>Recipients</span>
              </a>
            </li>
            <li>
              <a href="#profile" data-scroll>
                <span><i class="material-icons">account_circle</i></span>Profile</span>
              </a>
            </li>
            <li>
              <a href="#logout" data-scroll>
                <span><i class="material-icons">eject</i>Logout</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>

        <!-- Page content -->
        <div id="page-content-wrapper" class="container">
            <div class="page-content inset col-lg-offset-1 col-lg-10" data-spy="scroll" data-target="#spy">
              <section>
                <div class="transparentCard">
                    <p>
                        <span class="circularTextHolder">&nbsp;&nbsp;!&nbsp;&nbsp;</span>
                        <span>Send Amount</span>
                    </p>
                    <hr>
                    <p>
                        <span class="circularTextHolder">&nbsp;&nbsp;!&nbsp;&nbsp;</span>
                        <span>Payment Info</span>
                    </p>
                    <hr>
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="circularTextHolder lg verticallyCenteredContainer">
                                <p>
                                    Payment Info
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="form-group">
                                <label for="payment_info">Payment Info</label>
                                <input type="text" class="form-control" id="payment_info">
                            </div>
                            <p class="text-center smVPadding">
                                <span class="circularTextHolder">Or</span>
                                <span>&nbsp;</span>
                            </p>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="debit_card">Debit Card</label>
                                        <input type="text" class="form-control" id="debit_card">
                                    </div>
                                    <div class="form-group">
                                        <label for="first_name">First Name</label>
                                        <input type="text" class="form-control" id="first_name">
                                    </div>
                                    <div class="form-group">
                                        <label for="cc_number">Debit Card Number</label>
                                        <input type="text" class="form-control" id="cc_number">
                                    </div>
                                    <div class="form-group">
                                        <label for="zip_code">Zip Code</label>
                                        <input type="text" class="form-control" id="zip_code">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="account">Account</label>
                                        <input type="text" class="form-control" id="account">
                                    </div>
                                    <div class="form-group">
                                        <label for="last_name">Last Name</label>
                                        <input type="text" class="form-control" id="last_name">
                                    </div>
                                    <div class="form-group">
                                        <label for="expiry_date">Expiry Date</label>
                                        <input type="text" class="form-control" id="expiry_date">
                                    </div>
                                    <div class="form-group">
                                        <label for="ccv">CCV</label>
                                        <input type="text" class="form-control" id="ccv">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="submitButtonHolder text-center">
                    <a href="#" class="ghostButton invertedBlue lg">Continue</a>
                </div>
                <div class="confirmationReceipt">
                    <hr>
                    <p>
                        <span class="circularTextHolder">&nbsp;&nbsp;!&nbsp;&nbsp;</span>
                        <span>Review Trasaction</span>
                    </p>
                    <hr>
                    <p>
                        <span class="circularTextHolder">&nbsp;&nbsp;!&nbsp;&nbsp;</span>
                        <span>Confirmation Receipt</span>
                    </p>
                    <hr>
                    <br>
                </div>
              </section>
            </div>
        </div>
    </div>





    <!-- Jquery -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>

</html>
