@import abstracts/_mixins
@import abstracts/_variables


%buttonStyles
    padding: 5px 30px
    width: 130px
    height: 35px
    font-weight: 200
    text-align: center
    align-self: center
    text-shadow: none!important
    background: transparent

    &:active,
    &:visited,
    &:focus
        outline: none

%jumboBtn
    font-size: 19px;
    text-align: center;
    height: 40px;
    width: 200px;
    vertical-align: middle;


@mixin ghostButtonMixin($buttonColor: $easyBlue)
    @extend %buttonStyles
    @include border-radius($easyButtonRadius)
    height: $easyButtonHeight
    color: $buttonColor!important
    border: 1px solid $buttonColor

    &:hover
        background: $buttonColor
        color: $easyWhite!important

@mixin invertedGhostButtonMixin($buttonColor)
    @include ghostButtonMixin($buttonColor)
    background: $buttonColor !important
    color: $easyWhite!important

    &:hover
        background: transparent!important
        color: $buttonColor!important


.ghostButton
    @include ghostButtonMixin()

    &.defaultGreen
        @include ghostButtonMixin($easyGreen)

    &.defaultBlue
        @include ghostButtonMixin()

    &.invertedGreen
        @include invertedGhostButtonMixin($easyGreen)

        &.lg
            @extend %jumboBtn

    &.invertedBlue
        @include invertedGhostButtonMixin($easyBlue)

        &.lg
            @extend %jumboBtn

.buttonHolder
    height: $easyHeaderHeight
    display: flex
    justify-content: center

.paddedBtn
    height: 43px!important
    margin-left: 10px
