.ghostForm
    width: 100%
    background: transparent
    border-radius: 9999px

.blue
    @extend .ghostForm
    border: 2px solid #0593E7

.white
    @extend .ghostForm
    border: 2px solid #FFFFFF
    